*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#F7F7F5;
    color:#111;
}

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 8%;

    background:#111;

    position:sticky;

    top:0;
}

.logo{
    color:#C99700;

    font-size:22px;

    font-weight:bold;

    letter-spacing:1px;
}

.quote-btn{

    text-decoration:none;

    background:#C99700;

    color:#111;

    padding:12px 20px;

    border-radius:8px;

    font-weight:bold;
}
/* HERO SECTION */

.hero{

    height:90vh;

    background-image:
    linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.65)),
    url("images/hero.webp");

    background-size:cover;

    background-position:center;

    display:flex;

    align-items:center;

    padding:0 8%;
}

.hero-overlay{
    max-width:650px;
}

.location{

    color:#C99700;

    letter-spacing:2px;

    font-weight:bold;

    margin-bottom:20px;
}

.hero h1{

    color:white;

    font-size:64px;

    line-height:1.05;

    margin-bottom:20px;
}

.hero-text{

    color:#DDD;

    font-size:20px;

    margin-bottom:35px;
}

.hero-buttons{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

.primary-btn{

    background:#C99700;

    color:#111;

    padding:16px 26px;

    border-radius:10px;

    text-decoration:none;

    font-weight:bold;
}

.secondary-btn{

    border:1px solid white;

    color:white;

    padding:16px 26px;

    border-radius:10px;

    text-decoration:none;

    font-weight:bold;
}
/* ---------- MOBILE RESPONSIVE ---------- */

@media (max-width: 768px){

    .navbar{
        padding:16px 6%;
    }

    .logo{
        font-size:18px;
    }

    .quote-btn{
        padding:10px 16px;
        font-size:14px;
    }

    .hero{
        height:100vh;
        padding:0 6%;
    }

    .hero h1{
        font-size:42px;
    }

    .hero-text{
        font-size:17px;
    }

    .location{
        font-size:12px;
        letter-spacing:1px;
    }

    .hero-buttons{
        flex-direction:column;
        width:100%;
    }

    .primary-btn,
    .secondary-btn{
        width:100%;
        text-align:center;
    }

}
